<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Image Captioning App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='cover.css')}}">

    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <audio autoplay>
      <source src="static/caption.mp3" type="audio/mpeg"/>
    </audio>
    <div class="layer">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover">
        <img src="{{url_for('static', filename='file.jpg')}}" alt="image">
        <br>

        <p class="lead">
          <h3>Image Caption: </h3>
          <h4>{{data}}</h4>

            <br><br><a href="{{url_for('index')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Test Another Image</a>
            
        </p>


      </main>

    </div>
    </div>

    

  </body>
</html>